body{
    font-family: sans-serif;
}
.verb{
    background-color: rgb(47, 255, 82);
}
.noun{
    background-color: yellow;
}
.preposition{
    background-color: aqua;
}
.adverb{
    /* background-color: darkorchid; */
    background-color:hotpink ;
}
.adjective{
    background-color:orange;
}   
.pronoun{
    background-color:lightgreen;
}
.modal_verb{
    background-color:olive;
}
.stress{
    text-decoration: underline crimson;
}
.conj{
    background-color:darkgray;
}
.verb_phrasal{
    background-color:yellowgreen ;
}
table{
    border-collapse: collapse;
}
table td, th{
    border: 1px solid;
}