html{
    scroll-behavior:smooth;
}

body{
    font-family: sans-serif;
    margin: 0;
    background-color: #efefef;
}
header{
    background-color: #364552;
    color: white;
    padding: 3rem 2rem;
}
header h1{
    font-size: 4rem;
    text-align: center;
}
h2{
    color: orangered;
}
.container{
    width: 600px;
    /* margin: 0 auto; */
    margin: auto;

}

/* table, th, td{
    border: 1px solid black;
} */
li:first-of-type + li {
    color: red;
}
p ~ span {
    color: red;
}
span { background-color: white; }
div > span {
  background-color: DodgerBlue;
}

#borde-doble{
    border-style:double;
}

#borde-combinado{
    border-style: double dotted solid none;
}
#borde-rendondeados{
    border-style: solid;
    border-color: blue;
    border-radius:5px ;
    border-width: 5px;
}
#borde-abreviado{
    border: 10px solid red
  }

#fondo-color{
    background-color: rgb(69, 173, 173);
    /* opacity: 0.3; */
}
#fondo-imagen{
    background-image: url("/imagenes/coffee.png");
    height: 300px;
    background-size: contain;
}
.margen{
    background-color: chocolate;
    border: solid 1px;
    margin: 15px 20px 25px 30px;
    padding: 30px 25px 20px 15px;
    height: 100px;
    width: 50px;
}
a:link{
    color: blueviolet;
}
a:visited{
    color: gray;
}
a:hover{
    color: yellowgreen;
}
a:active{
    color: red;
}
ul{
    background-color: aqua;
    /* list-style-type: none; */
    /* padding-left: 0; */
}

.list-uno{
    list-style-type: circle;
    background-color: white;
    list-style-position: inside;
}
.list-dos{
    list-style-type:decimal;
    list-style-position: outside;
}
.list-tres{
    list-style-type: disc;
    list-style-position: inherit;
}
.tabla-familia{
    border-collapse: collapse;
}
.tabla-familia th,td{
    border: 1px solid;
}
.tabla-familia th{
    background-color: orangered;
}
.tabla-familia tr:hover{
    background-color: gray;
}
.tabla-familia tr:nth-child(even){
    background-color: green;
}
.parrafo-fijo{
    background-color: aqua;
    position: fixed;
    max-width: 344px;
    left: 25px;
    top: -15px;
}
#texto-cuadrado{
    width: 100px;
    height: 100px;
    overflow: scroll ;
}

.grilla{
    display: grid;
    /* grid-template-columns: 60px 120px 30px;
    grid-template-rows:20px 20px ; */
    grid-gap: 5px 5px;
    grid-template-columns: repeat(3, [col-inicio] 1fr [col-fin]);
    grid-template-rows: repeat(2,[row-inicio] 50px [row-fin]);
}
.element{
    background-color: aqua;
}

.header{
    /* grid-column: 1/6;
    grid-row: 1/3 */
    /* grid-column-start: 1;
    grid-column-end: 6; */
    grid-column: col-inicio / col-fin 3 ;
    grid-row: row-inicio / row-fin 2;
}
.box1{
    display: flex;
}