html{
    scroll-behavior:smooth;
}

body{
    font-family: sans-serif;
}

h2{
    color: orangered;
}
table, th, td{
    border: 1px solid black;
}
li:first-of-type + li {
    color: red;
}
p ~ span {
    color: red;
}
span { background-color: white; }
div > span {
  background-color: DodgerBlue;
}

#borde-doble{
    border-style:double;
}

#borde-combinado{
    border-style: double dotted solid none;
}
#borde-rendondeados{
    border-style: solid;
    border-color: blue;
    border-radius:5px ;
    border-width: 5px;
}