.container{
    background-color: pink  ;
    border: solid 10px red;
}
.item-1 {
    background-color: aqua;
    border: solid 5px  yellow;
}
.item-2 {
    background-color: aqua;
    border: solid 5px  yellow;
}
.item-3 {
    background-color: aqua;
    border: solid 5px  yellow;
}
.item-4 {
    background-color: aqua;
    border: solid 5px  yellow;
}

