#navbar{
    background-color: #333;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: hidden;
    top:0;
    width: 100%;
    left: 0;
}
li{
    float: left;
}

#navbar li a{
    display: block;
    color:white;
    text-decoration: none;
    padding: 14px;
    text-align: center;
}