/* *{
    margin:0;
    padding: 0;
} */

/* h1,h2,h3{
    color: brown;
} */

/* h1{
    font-size: 50px;
} */
.texto{
    color:green;
}
.especial{
    color:orange;
}
/* div p, h2 {
    color:brown;
} */


div p, div h2{
    color:purple;
}

*{
    color: black;
}